.header {
  background-color: #000;
  color: red;
  font-weight: 900;
  padding: 1.2em;
}
.time-slot {
  text-align: center;
  margin-top: -40px;
  font-size: 1.3em;
}
.clock{
  color: blue;
  font-size: 1.3em;
}
.help{
  color: whitesmoke;
}