.agenda {
  background-color: #052759;
  height: 520px;
  width: 660px;
  border-radius: 20px;
  transform: translate(60px, 40px);
  box-shadow: 1px 10px 15px -5px rgb(0, 0, 0);
}
.mid-screen {
  margin: -4px 35px 0px 35px;
  height: 600px;
  background-color: #070932;
  box-shadow: 0px 15px 15px -8px rgba(0, 0, 0) inset;
}
.agenda2 {
  background-color: #052759;
  float: right;
  height: 520px;
  width: 600px;
  transform: translate(-65px, -480px);
  border-radius: 20px;
  box-shadow: 1px 10px 15px -5px rgb(0, 0, 0);
}
.head {
  text-align: center;
  padding-top: 1.5em;
  font-weight: 600;
  color: rgb(236, 222, 222);
}
hr{
  color:whitesmoke;
  background-color: whitesmoke;
  width: 80%;
  opacity:0.2;
}
ul {
  color: whitesmoke;
}
