h1,
p {
  font-family: Lato;
}
body {
  margin: 0;
  padding: 0;
  background-color: #8387dc;
  box-sizing: border-box;
}
.time {
  color: aliceblue;
  margin-top: -35px;
}
.help {
  float: right;
}
.head {
  font-size: 1.1em;
}
.leave {
  color: whitesmoke;
  background-color: red;
  border-style: none;
  padding: 0.6em;
  border-radius: 5px;
  margin-right: 5px;
}
.leave:hover {
  background-color: #ec4635;
}
